@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Jost:wght@300;400;500;600;700&family=Karma:wght@300;500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--texto);
  transition: .2s all linear;
}
:root{
  /*Fontes==========================*/
  --logo: 'Alfa Slab One', cursive;
  --titulo: 'Jost', sans-serif;
  --texto: 'Karma', serif;
  /*Cores===========================*/
  --preto: #030506; /*preto*/
  --cinza: #837d72; /*cinza*/
  --branco: #fff1cf; /*branco*/
  --caramelo: #924f1b; /*caramelo*/
  --vermelho: #64130c; /*vermelho*/
}
.container{
 max-width: 960px;
 width: 100%;
 margin: auto
}
.heading{
  text-align: center;
  font-family: var(--titulo);
  text-transform: uppercase;
  word-spacing: 10px; letter-spacing: 5px;
  padding: 30px 0;
  color: var(--branco)
}
section{
  padding-bottom: 30px
}
header{
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  z-index: 100;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.logo{
  font-size: 1.2rem;
  color: var(--branco);
  font-family: var(--logo)
}
.navbar{
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.nav-link{
  font-size: 0.94rem;
  padding: 4px 8px;
  border-radius: 0.2rem;
  color: var(--branco);
  font-family: var(--titulo)
}
.nav-link:hover{
  background: rgba(0, 0, 0, 0.5);
}
.menu-icon{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row-gap: 5px;
  cursor: pointer;
  z-index: 200
}
.menu-icon div{
  display: block;
  background: var(--branco);
  width: 24px; height: 2px
}
.move .line1{
  transform: rotate(-45deg) translate(-5px,5px);
}
.move .line2{
  opacity: 0;
}
.move .line3{
  transform: rotate(45deg) translate(-5px,-5px);
}
.header-active{
  background: ;
  transition: .3s
}
/*========================Home*/
.home{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)) ,url("https://i.imgur.com/2GGg2C2.jpg") no-repeat;
  background-position: 50% 85%;
  background-size: cover;
  color: var(--branco)
}
.home-content{
  width: 600px
}
.home-content h1{
  font-size: 2rem;
  font-family: var(--titulo)
}
.home-content span{
  font-size: 5rem;
  font-family: var(--logo)
}
.home-content h3{
  font-family: var(--titulo)
}
.home-content p{
  margin: 20px 0
}
.btn{
  display: inline-block;
  border-radius: 5px;
  background: var(--vermelho);
  color: var(--branco);
  padding: 0.2rem 1rem;
  z-index: 0;
  overflow: hidden;
  font-size: 1.2rem;
  font-family: var(--titulo);
  border: none
}
.sy{
  background: green;
  color: var(--branco)
}
.sy:hover{
  background: var(--branco);
  color: green
}
.yt:hover{
  background: var(--branco);
  color: var(--vermelho)
}
/*========================Sobre*/
.about{
  background: linear-gradient(var(--caramelo),var(--caramelo))
}
.about-content{
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 2rem
}
.about-text{
  color: var(--branco)
}
.about-img img{
  width: 300px; height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 59% 41% 67% 33% / 30% 73% 27% 70%
}
/*========================Músicas*/
.music{
  background: var(--vermelho)
}
.music-content{
  display: grid;
  grid-template-columns: repeat(2,26rem);
  gap: 2rem
}
.music-video{
  margin: auto 0 0;
}
.music .btn{
  margin-bottom: 20px;
  background: var(--preto);
  color: var(--branco)
}
.music .btn:active{
  background: var(--branco);
  color: var(--vermelho);
  transition: .10s;
}
.video{
  width: 490px;
  height: 315px;
  background: var(--cinza)
}
#id01{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  height: 20rem;
  grid-column-gap: 10px
}
.music-list a{
  color: var(--branco);
  font-family: var(--texto)
}
.music-list a:hover{
  color: var(--caramelo)
}
/*=========================Agenda*/
.diary{
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url("https://i.imgur.com/7qJcSqg.png?1") no-repeat;
  background-size: cover;
  background-position: center;
}
.diary-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  gap: 1rem
}
.situacao{
  color: var(--vermelho)
}
.table{
  width: 100%;
  border-collapse: collapse;
  height: 1rem;
  margin: auto;
}
.table thead{
  background-color: var(--caramelo);
}
.table thead tr th{
  font-family: var(--titulo);
  font-size: 13px;
  letter-spacing: 1px;
  color: var(--branco);
  opacity: 1;
  padding: 3px;
  vertical-align: top;
}
.table tbody tr td{
  font-size: 14px;
  letter-spacing: 0.35px;
  text-align: center;
  color: var(--branco);
  background-color: var(--cinza);
  padding: 8px;
}
.diary .btn{
  margin-top: 7px;
  font-size: 13px
}
.diary-contato{
  display: flex;
  flex-direction: column;
  color: var(--branco);
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.diary-contato h4{
  font-family: var(--titulo);
  color: var(--caramelo);
  border-bottom: 1px solid var(--caramelo);
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.diary-contato i{
  background: var(--vermelho);
  padding: 10px; border-radius: 5px;
  margin: 10px
}
.contato-redes, .contato-contri{
  margin: 20px
}
/*=========================Rodapé*/
footer{
  color: var(--branco);
  background: var(--vermelho);
  text-align: center;
  padding: 10px;
  font-family: var(--titulo)
}
footer a{
  color: var(--branco)
}
